@import url(../fonts/fonts.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.center { width: 94%; max-width: 620px; margin: 0 auto; position: relative; }

.clear { clear: both; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { color: inherit; text-decoration: none; outline: none; }

body { font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif; color: #231F20; font-size: 16px; font-size: 1rem; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

::-moz-selection { color: #FFF; background-color: #CA2127; }

::selection { color: #FFF; background-color: #CA2127; }

#header { width: 100%; position: relative; min-height: 980px; background: url(../img/bkg-topo.jpg) no-repeat center top; }

#header.hack { margin-bottom: 90px; }

#header .center { padding-top: 1px; z-index: 2; text-align: center; }

#logo { width: 100%; height: 136px; background: url(../img/logo.png) no-repeat center center; background-size: contain; margin-top: 280px; text-indent: -9999em; overflow: hidden; }

#header .btn { display: inline-block; width: 136px; height: 75px; padding: 0; margin-top: 100px; background: url(../img/btn.png) no-repeat center center; text-transform: uppercase; color: #FFF; font-size: 20px; font-size: 1.25rem; line-height: 75px; font-weight: bold; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#header .btn:hover { color: #CA2127; }

#nav { width: 100%; height: 90px; background-color: #FFF; text-align: center; position: relative; z-index: 999; }

#nav.fixed { position: fixed; z-index: 999; top: 0; left: 0; }

#nav .center { max-width: 780px; }

#nav a { display: block; float: left; height: 90px; padding: 0 23px; line-height: 90px; text-transform: uppercase; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#nav a:hover, #nav a.active { color: #CA2127; }

#nav .logo { float: left; width: 250px; height: 90px; background: url(../img/logo.png) no-repeat center 5px; background-size: contain; }

#sobre { width: 100%; background: url(../img/bkg-sobre.jpg) repeat center top; }

#sobre .center { padding: 70px 0; }

#sobre h2 { font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; width: 100%; height: 228px; background: url(../img/tit-sobre.png) no-repeat center center; text-indent: -9999em; overflow: hidden; }

#sobre h3 { margin-top: 20px; font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; font-size: 28px; font-size: 1.75rem; line-height: 34px; letter-spacing: 0.04em; }

#sobre p { margin-top: 10px; font-size: 22px; font-size: 1.375rem; line-height: 24px; letter-spacing: 0.06em; }

#parallax { width: 100%; height: 490px; background: url(../img/parallax.jpg) no-repeat center center; }

#pratos h2 { font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; font-size: 70px; font-size: 4.375rem; margin: 75px 0; text-transform: uppercase; text-align: center; color: #231F20; background: url(../img/tit-pratos.png) no-repeat center center; }

#lista-pratos li { padding: 5px; }

#lista-pratos li img { display: block; width: 100%; }

#localizacao { padding-top: 50px; background: #bf3031 url(../img/bkg-locais.jpg) repeat-x center top; text-align: center; }

#localizacao h2 { width: 100%; height: 140px; background: url(../img/tit-localizacao.png) no-repeat center center; margin-bottom: 20px; text-transform: uppercase; color: #FFBA00; text-indent: -9999em; overflow: hidden; background-size: contain; }

#localizacao p { margin-top: 20px; font-family: "Akz", Helvetica, Arial, sans-serif; font-size: 22px; font-size: 1.375rem; line-height: 38px; text-transform: uppercase; letter-spacing: 0.06em; color: #FFF; }

#localizacao p span { display: inline-block; font-size: 28px; font-size: 1.75rem; padding-right: 50px; background: url(../img/ico-delivery-b.png) no-repeat right center; margin-right: 20px; }

#lista-locais { margin: 15px 0 70px; }

#lista-locais li { margin-bottom: 10px; }

#lista-locais li a { display: block; padding: 5px 20px; border: 1px solid #FFF; color: #FFF; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#lista-locais li a.active, #lista-locais li a:hover { background-color: #FFF; border-color: #FFF; color: #CA2127; }

#localizacao .mapa { position: relative; }

#localizacao .mapa .overmap { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 440px; }

#mapa-boulevard, #mapa-catuai { display: none; }

#facebook { min-height: 430px; padding: 60px 0 50px; background: url(../img/bkg-facebook.jpg) no-repeat center top; }

#facebook h2 { font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; font-size: 50px; font-size: 3.125rem; line-height: 60px; margin-bottom: 20px; text-transform: uppercase; color: #FFF; text-align: center; }

#facebook .fb-wrapper { max-width: 500px; margin: 0 auto; }

#contato { padding: 60px 0 20px; background: url(../img/bkg-contato.jpg) no-repeat center top; }

#contato .center { max-width: 780px; }

#contato h2 { font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; font-size: 62px; font-size: 3.875rem; line-height: 60px; margin-bottom: 30px; text-transform: uppercase; color: #FFF; text-align: center; }

#contato input, #contato textarea { display: block; width: 100%; padding: 8px 15px 5px; border: 0; margin-bottom: 15px; background-color: #FFF; color: #231F20; font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif; font-size: 14px; font-size: 0.875rem; }

#contato textarea { height: 95px; }

::-webkit-input-placeholder { color: #231F20; }

:-moz-placeholder { color: #231F20; opacity: 1; }

::-moz-placeholder { color: #231F20; opacity: 1; }

:-ms-input-placeholder { color: #231F20; }

#enviar { display: block; width: 136px; height: 75px; background: url(../img/btn.png) no-repeat center center; border: 0; margin: 15px auto 0; color: #FFF; font-family: "Chalk", "Impact", Helvetica, Arial, sans-serif; font-size: 26px; font-size: 1.625rem; cursor: pointer; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#enviar:hover { color: #FFBA00; }

#footer { padding: 20px 0; background-color: #231F20; color: #FFF; font-size: 12px; font-size: 0.75rem; line-height: 18px; }

#footer .center { max-width: 920px; }

#footer p { float: left; }

#footer a { display: block; float: right; width: 43px; height: 18px; background: url(../img/m2mp.png) no-repeat center center; }

@media screen and (max-width: 680px) { #nav { display: none; } }
@media screen and (max-width: 420px) { #sobre h2, #pratos h2, #localizacao h2, #facebook h2, #contato h2 { font-size: 36px; font-size: 2.25rem; } }
