@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #0d1117;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
}

.header {
  margin: 4.1666666667vw 0 4.1666666667vw 16.6666666667vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1440px) {
  .header {
    margin: 6.25vw 0 6.25vw 12.5vw;
  }
}
@media (max-width: 640px) {
  .header {
    margin: 19.4647201946vw 9.7323600973vw;
    flex-direction: column;
  }
}
.header__image {
  margin: 0;
  width: 7.3958333333vw;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .header__image {
    width: 11.09375vw;
  }
}
@media (max-width: 640px) {
  .header__image {
    width: 23.3576642336vw;
  }
}
.header__image img {
  display: block;
  width: 100%;
}
.header__text {
  margin-top: 7.3958333333vw;
}
@media (max-width: 1440px) {
  .header__text {
    margin-top: 11.09375vw;
  }
}
@media (max-width: 640px) {
  .header__text {
    margin: 5.8394160584vw 0 0 11.6788321168vw;
  }
}
.header__name {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.8333333333vw;
}
@media (max-width: 1440px) {
  .header__name {
    margin-bottom: 1.25vw;
  }
}
@media (max-width: 640px) {
  .header__name {
    margin-bottom: 3.8929440389vw;
  }
}
.header__position {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.8333333333vw;
}
@media (max-width: 1440px) {
  .header__position {
    margin-bottom: 1.25vw;
  }
}
@media (max-width: 640px) {
  .header__position {
    margin-bottom: 1.9464720195vw;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 640px) {
  .social {
    margin-left: -1.9464720195vw;
  }
}
.social__link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-right: 0.8333333333vw;
  transition: opacity 200ms ease-in-out;
}
@media (max-width: 1440px) {
  .social__link {
    margin-right: 1.25vw;
  }
}
@media (max-width: 640px) {
  .social__link {
    padding: 1.9464720195vw;
    margin-right: 1.9464720195vw;
  }
}
.social__link:hover {
  opacity: 0.6;
}

.content {
  width: 41.1458333333vw;
  margin: 0 0 8.3333333333vw 42.1875vw;
}
@media (max-width: 1440px) {
  .content {
    width: 37.5vw;
    margin: 0 0 12.5vw 47.65625vw;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 50vw;
    margin: 0 0 12.5vw 23.59375vw;
  }
}
@media (max-width: 640px) {
  .content {
    width: 72.9927007299vw;
    margin: 0 0 38.9294403893vw 21.4111922141vw;
  }
}
.content__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5257;
  margin-bottom: 0.8333333333vw;
  margin-bottom: 4.1666666667vw;
}
@media (max-width: 1440px) {
  .content__title {
    margin-bottom: 6.25vw;
  }
}
@media (max-width: 640px) {
  .content__title {
    margin-bottom: 19.4647201946vw;
  }
}

.year {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 4.1666666667vw;
}
@media (max-width: 1440px) {
  .year {
    margin-bottom: 6.25vw;
  }
}
@media (max-width: 640px) {
  .year {
    margin-bottom: 19.4647201946vw;
  }
}
.year__title {
  font-size: 0.9375vw;
  font-weight: bold;
  color: #ff5257;
  margin: 0.4166666667vw 4.1666666667vw 0 0;
}
@media (max-width: 1440px) {
  .year__title {
    font-size: 1.40625vw;
    margin: 0.625vw 6.25vw 0 0;
  }
}
@media (max-width: 640px) {
  .year__title {
    font-size: 4.3795620438vw;
    margin: 1.9464720195vw 9.7323600973vw 0 0;
  }
}
.year__nav {
  font-size: 0.875rem;
  line-height: 1.375rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.4166666667vw;
}
@media (max-width: 1440px) {
  .year__nav {
    grid-gap: 0.625vw;
  }
}
@media (max-width: 640px) {
  .year__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.9464720195vw;
  }
}
.year__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
  padding: 0.4166666667vw;
}
@media (max-width: 1440px) {
  .year__link {
    padding: 0.625vw;
  }
}
@media (max-width: 640px) {
  .year__link {
    padding: 1.9464720195vw;
  }
}
.year__link:hover {
  opacity: 0.6;
}

.footer {
  width: 41.1458333333vw;
  margin: 0 0 4.1666666667vw 42.1875vw;
}
@media (max-width: 1440px) {
  .footer {
    width: 37.5vw;
    margin: 0 0 6.25vw 47.65625vw;
  }
}
@media (max-width: 1024px) {
  .footer {
    width: 50vw;
    margin: 0 0 6.25vw 23.59375vw;
  }
}
@media (max-width: 640px) {
  .footer {
    width: 72.9927007299vw;
    margin: 0 0 19.4647201946vw 21.4111922141vw;
  }
}

/*# sourceMappingURL=main.css.map */
