@font-face {
  font-family: 'Din Condensed';
  src: url('DINCond-Light.eot?#iefix') format('embedded-opentype'),  url('DINCond-Light.otf')  format('opentype'),
	     url('DINCond-Light.woff') format('woff'), url('DINCond-Light.ttf')  format('truetype'), url('DINCond-Light.svg#DINCond-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Din Condensed';
  src: url('DINCond-Medium.eot?#iefix') format('embedded-opentype'),  url('DINCond-Medium.otf')  format('opentype'),
	     url('DINCond-Medium.woff') format('woff'), url('DINCond-Medium.ttf')  format('truetype'), url('DINCond-Medium.svg#DINCond-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Din Condensed';
  src: url('DINCond-Black.eot?#iefix') format('embedded-opentype'),  url('DINCond-Black.otf')  format('opentype'),
	     url('DINCond-Black.woff') format('woff'), url('DINCond-Black.ttf')  format('truetype'), url('DINCond-Black.svg#DINCond-Black') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),  url('BrandonGrotesque-Light.otf')  format('opentype'),
	     url('BrandonGrotesque-Light.woff') format('woff'), url('BrandonGrotesque-Light.ttf')  format('truetype'), url('BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  url('BrandonGrotesque-Bold.otf')  format('opentype'),
	     url('BrandonGrotesque-Bold.woff') format('woff'), url('BrandonGrotesque-Bold.ttf')  format('truetype'), url('BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}