@import url(../font/geared.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
.f-left { float: left; }

.f-right { float: right; }

.center { width: 960px; margin: 0 auto; }

.clear { clear: both; }

#banner { width: 100%; margin-top: 140px; text-align: center; }

#img-banner { width: 100%; height: 345px; background: transparent url(../img/banner-principal.jpg) no-repeat center top; }

#desc-banner { width: 100%; height: 52px; background: transparent url(../img/bkg-banner.png) no-repeat center top; line-height: 52px; text-transform: uppercase; font-family: "Geared", Helvetica, Arial, Sans-serif; font-size: 20px; font-size: 1.25rem; color: #FFF; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; letter-spacing: .15em; }

#desc-banner span { color: #8bc441; }

#servicos { height: 235px; background: #8bc441 url(../img/bkg-servicos.png); }

#servicos h2 { font-family: "Geared", Helvetica, Arial, Sans-serif; font-size: 22px; font-size: 1.375rem; color: #FFF; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 25px 0 5px; text-transform: uppercase; letter-spacing: 0.15em; }

#manutencao { float: left; width: 380px; margin: 50px 0 0 80px; text-align: right; }

#manutencao .icone { float: right; width: 140px; height: 155px; background: transparent url(../img/ilu-manutencao.png) no-repeat center center; }

#manutencao .conteudo { width: 220px; float: left; }

#produtos { float: right; width: 380px; margin: 50px 80px 0 0; text-align: left; }

#produtos .icone { float: left; width: 140px; height: 155px; background: transparent url(../img/ilu-produtos.png) no-repeat center center; }

#produtos .conteudo { width: 225px; float: right; }

#banner-secundario { margin: 50px auto; }

#banner-secundario .descricao { float: left; width: 275px; margin-right: 30px; }

#banner-secundario .descricao p { line-height: 1.3em; letter-spacing: 0.08em; }

#banner-secundario .descricao p strong { font-weight: 600; }

#banner-secundario .descricao a { display: block; margin-top: 40px; letter-spacing: 0.08em; font-weight: 600; color: #509622; }

#banner-box { float: right; width: 655px; float: right; position: relative; }

#banner-box img { display: block; display: block; width: 100%; }

#banner-box .caption { width: 100%; height: 35px; padding: 0 20px; line-height: 35px; text-transform: uppercase; font-size: 18px; font-size: 1.125rem; font-family: "Geared", Helvetica, Arial, Sans-serif; color: #FFF; position: absolute; bottom: 0; left: 0; background-image: url(../img/bkg-overlay.png); }

#mapa { width: 100%; height: 377px; background: transparent url(../img/bkg-mapa.png) no-repeat right center; }

#box-mapa { float: left; width: 100%; height: 270px; margin-top: 55px; border: 5px solid #8bc441; position: relative; }

#container-mapa { width: 100%; height: 260px; background-color: #F00; z-index: 2; }

#endereco-mapa { width: 230px; height: 79px; background: #777777 url(../img/bkg-texto-mapa.png) no-repeat center center; padding: 15px; color: #FFF; font-size: 12px; font-size: 0.75rem; line-height: 1.3em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute; z-index: 3; top: 50%; margin-top: -40px; left: -5px; }

#endereco-mapa strong { font-weight: 600; }

#parceiros { height: 106px; background: transparent url(../img/bkg-parceiros.png) no-repeat center 30px; }

#parceiros h2 { font-family: "Geared", Helvetica, Arial, Sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 17px; font-size: 1.0625rem; line-height: 30px; text-transform: uppercase; letter-spacing: 0.1em; }

#lista-parceiros { width: 940px; margin: 20px auto 0; }

#lista-parceiros li { width: 12.28%; margin: 0 1%; height: 40px; float: left; }

#lista-parceiros li img { display: block; width: 100%; }
