@import url(../font/geared.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
.f-left { float: left; }

.f-right { float: right; }

.center { width: 960px; margin: 0 auto; }

.clear { clear: both; }

#submenu { display: block; }

#container { margin-top: 140px; }

#container > div { padding: 50px 0; }

#container > div#jardinagem { padding-top: 80px; }

.list-odd { background-image: url(../img/bkg-servicos.png); }

.col-text { width: 310px; }

.col-text h2 { font-family: "Geared", Helvetica, Arial, Sans-serif; font-size: 22px; font-size: 1.375rem; text-transform: uppercase; letter-spacing: 0.09em; color: #FFF; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.col-text.f-right h2 { color: #8bc441; }

.col-text p { margin-top: 2px; line-height: 1.3em; }

.col-text a.btn { display: block; width: 310px; height: 36px; margin-top: 24px; text-align: center; line-height: 36px; color: #FFF; letter-spacing: 0.14em; -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); font-size: 12px; font-size: 0.75rem; }

.col-text a.btn.btn-cinza { background: transparent url(../img/btn-cinza.jpg) no-repeat center center; }

.col-text a.btn.btn-verde { background: transparent url(../img/btn-verde.jpg) no-repeat center center; }

.col-image { width: 630px; }

.col-image img { display: block; width: 630px; border: 5px solid #FFF; }
