@import url("../fonts/didot_italic/didotitalic.css");
@import url("../fonts/didot_regular/didotregular.css");
@import url("../fonts/didot_headline/didotheadline.css");
@import url("../fonts/futura_book/futurabook.css");
@import url("../fonts/futura_book_italic/futurabookitalic.css");
@import url("../fonts/futura_light/futuralight.css");
@import url("../fonts/futura_light_italic/futuralightitalic.css");
@import url("../fonts/futura_medium/futuramedium.css");
.f-left { float: left; }

.f-right { float: right; }

.center { width: 1240px; margin: 0 auto; }

.clear { clear: both; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { color: inherit; text-decoration: none; }

#apes li { float: left; width: 20%; height: 850px; text-align: center; color: #FFF; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; position: relative; }

#apes li:after { content: ' '; display: block; z-index: 1; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(../img/bkg-apes.png) repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#apes li.single { background: #1D334D url(../img/apes/single.jpg) no-repeat center center; }

#apes li.duplo { background: #1D334D url(../img/apes/duplo.jpg) no-repeat center center; }

#apes li.tematico { background: #1D334D url(../img/apes/tematico.jpg) no-repeat center center; }

#apes li.luxo { background: #1D334D url(../img/apes/luxo.jpg) no-repeat center center; }

#apes li.presidencial { background: #1D334D url(../img/apes/presidencial.jpg) no-repeat center center; }

#apes li h2 { margin-top: 430px; font-family: "Didot Headline", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; font-size: 50px; font-size: 3.125rem; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; position: relative; z-index: 2; }

#apes li .ilustra { display: block; width: 100%; height: 51px; background: url(../img/separador-apes.png) no-repeat center center; margin: 30px 0 20px; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: relative; z-index: 2; }

#apes li .btn-mais { display: block; max-width: 200px; height: 50px; border: 2px solid #FFF; text-align: center; line-height: 50px; font-family: "Futura Book Italic", Futura, Trebuchet MS, Arial, sans-serif; margin: 0 auto; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: relative; z-index: 2; }

#apes li .btn-mais:hover { background-color: #FFF; color: #1D334D; }

#apes li.active h2 { margin-top: 355px; }

#apes li.active .ilustra, #apes li.active .btn-mais { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

#apes li.active:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

#btn-voltar { display: block; width: 80px; height: 50px; color: #FFF; font-size: 18px; font-size: 1.125rem; line-height: 50px; font-family: "Futura Book Italic", Futura, Trebuchet MS, Arial, sans-serif; overflow: hidden; padding-left: 80px; background: #1D334D url(../img/ico-voltar.png) no-repeat 33px center; -moz-border-radius: 0 25px 25px 0; -webkit-border-radius: 0; border-radius: 0 25px 25px 0; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; margin-top: 60px; }

#btn-voltar:hover { width: 150px; padding-left: 60px; }

h2.titulo { display: block; width: 100%; text-align: center; font-size: 45px; font-size: 2.8125rem; font-family: "Didot Headline", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; line-height: 1.3em; margin: 0 0 60px; }

#col-imagens { width: 50%; float: left; }

#col-imagens img { display: block; float: left; width: 96%; margin: 0 2% 15px; }

#col-imagens img.half { width: 47%; margin: 0 2% 15px; }

#col-imagens img.half.right { margin-left: 0; }

#col-info { width: 50%; float: right; }

#col-info .box-texto { width: 63%; min-height: 455px; float: left; text-align: center; padding-top: 60px; }

#col-info .box-texto p { color: #777; max-width: 420px; margin: 0 auto; font-size: 25px; font-size: 1.5625rem; line-height: 30px; }

#col-info .box-texto h3 { display: block; padding-bottom: 15px; border-bottom: 1px solid #1D334D; font-family: "Didot Roman", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; font-size: 35px; font-size: 2.1875rem; margin: 80px 0 25px 0; }

#col-info .box-texto ul { color: #777; }

#col-info .box-texto ul li { display: block; float: left; width: 50%; padding-left: 15%; text-align: left; background: url(../img/bullet.png) no-repeat 22% center; margin-top: 20px; }

#col-info img { display: block; float: left; width: 63%; }

#col-info img.pipe { width: 33%; margin: 0 2%; }

#col-info img.second { margin-top: 45px; }

#col-info img.third { margin-top: 18px; }

#footer { margin-top: 0; }

@media screen and (max-width: 1350px) { #apes li h2 { font-size: 40px; font-size: 2.5rem; } }
@media screen and (max-width: 1130px) { #apes li h2 { font-size: 30px; font-size: 1.875rem; } }
@media screen and (max-width: 900px) { #apes li { width: 100% !important; height: 300px; }
  #apes li h2 { margin-top: 120px; }
  #apes li.active h2 { margin-top: 60px; }
  #col-imagens, #col-info { width: 100%; } }
