@import url(../font/fonts.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.f-left { float: left; }

.f-right { float: right; }

.center { width: 1000px; margin: 0 auto; }

.clear { clear: both; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: inherit; outline:none; }
a:hover{ text-decoration:underline; }

body { background-color: #FFF; font-family: "Apercu", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; font-size: 0.875rem; line-height: 1.3em; color: #5d492d; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; min-width: 400px; }

::selection { background-color: #d178a0; color: #FFF; }

h2 { color: #d178a0; font-size: 28px; font-size: 1.75rem; margin-bottom: 15px; line-height:2.1rem; }

p { margin-bottom: 20px; }

#head-lua{ width:100%; height:500px; background:#d178a0 url(../img/luademel/topo.jpg) no-repeat center top; }
#headline{ width:100%; height:500px; background:url(../img/luademel/headline.png) no-repeat center center;  }

#conteudo{ width:460px; margin:40px auto; }
#conteudo p a{ color:#D178A0; }

#paypal{}
#paypal select{ display:block; width:100%; height:40px; border:1px solid #5D492D; font-family: "Apercu", Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; margin-bottom:20px; color:#d178a0; }
#paypal .botao{ float:right; }

#assinatura{ width: 91px; height: 80px; margin:0 auto 100px; background:url(../img/logo.png) no-repeat center center; }

@media screen and (max-width: 560px) {
	#headline{ width:80%; margin:0 auto; background-size:contain; }
	#conteudo{ width:80%; }
}