@import url(http://fonts.googleapis.com/css?family=Courgette|Fjalla+One|Open+Sans);

/*  
font-family: 'Fjalla One', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Open Sans', sans-serif;
*/


/* ==========================================================================
Definições Básicas da Estrutura
========================================================================== */
/* Resetar Elementos da Estrutura */
/*@-webkit-keyframes bugfix { from { padding:0; } to { padding:0; } }*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, textarea, select, radio, checkbox, fieldset, form, input, button, reset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* Estrutura Geral */
html, body { height: 100%; }

html {
	background: #163e24;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	overflow-x: hidden; /* barra de rolagem horizontal */
	overflow-y: auto; /* barra de rolagem vertical */
	-webkit-text-size-adjust: none;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.0em;
	font-weight: 200;
	color: #515151;
	line-height: 150%;
	-webkit-animation: bugfix infinite 1s;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}




/* ==========================================================================
Links
========================================================================== */
a, a:link {
	color: #e7ac00;
	/*text-shadow: rgba(0,0,0,0.1) 1px 1px 2px;*/
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:hover, a:focus {
	color: #163e24;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:hover img { opacity: 0.9; }

a, a > * {
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	   -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	     -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	        transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}




/* ==========================================================================
Tipografia
========================================================================== */
/* Títulos */
h1 { font-size: 3.2em; }
h2 { font-size: 2.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.6em; }

h1, h2 {
	font-family: 'Fjalla One', sans-serif;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	color: #262626;
	line-height: 115%;
	clear: both;
	font-weight: 200;
	padding: 12px 2px;
}

h1 span, h2 span, h3 span, 
h4 span, h5 span, h6 span { color: #163e24; }

/* Parágrafos */
p {
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	display: block;
}
p span { color: #163e24; font-weight: 400; }
p img { margin: 0; }
p a, p a:visited { line-height: inherit; }

