@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.center { width: 92%; max-width: 1000px; margin: 0 auto; }

.clear { clear: both; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0; }

a { color: inherit; text-decoration: none; }

body { font-family: "Open Sans", Helvetica, Arial, Sans-serif; font-size: 16px; font-size: 1rem; color: #666; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

::-moz-selection { color: #FFF; background-color: #9C3; }

::selection { color: #FFF; background-color: #9C3; }

#header { width: 100%; height: 600px; background: url(../img/bkg-topo.jpg) no-repeat center bottom; padding-top: 1px; }

#nav { position: fixed; top: 0; left: 0; z-index: 9; width: 100%; height: 80px; text-align: center; color: #FFF; font-size: 20px; font-size: 1.25rem; text-transform: uppercase; background: url(../img/bkg-nav.png) repeat-x center -80px; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#nav.scrolled { background-position: center 0; }

#nav a { display: inline-block; padding: 3px 0; margin: 20px 25px 5px; border-bottom: 0 solid #FFF; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }

#nav a:hover, #nav a.active { color: #9C3; border-bottom: 4px solid #FFF; }

#logo { width: 100%; height: 152px; background: url(../img/logo.png) no-repeat center center; background-size: contain; margin-top: 210px; text-indent: -9999em; overflow: hidden; }

#scroll { width: 135px; height: 51px; margin: 140px auto 0; background: url(../img/scroll.png) no-repeat left center; padding: 15px 0 0 33px; color: #FFF; }

#sobre-wrapper { background: url(../img/bkg-sobre.png) repeat-y center top; }

#sobre { float: left; width: 49%; padding-top: 1px; }

#sobre h2 { font-size: 20px; font-size: 1.25rem; font-weight: 700; text-transform: uppercase; color: #FFF; padding: 7px 0 10px 15px; margin: 30px 0 15px; background: url(../img/tit-sobre.png) no-repeat left center; }

#sobre p { line-height: 1.2em; }

#sobre img { display: block; width: 100%; margin: 10px 0 30px; }

#relacionamentos { display: none; }

#servicos { float: right; width: 49%; }

#servicos h2 { font-size: 20px; font-size: 1.25rem; font-weight: 700; text-transform: uppercase; color: #9C3; padding: 7px 0 10px 15px; margin: 30px 0 50px; background: url(../img/tit-servicos.png) no-repeat left center; }

#servicos ul { width: 76%; margin: 0 auto; }

#servicos ul li { position: relative; margin-bottom: 30px; }

#servicos ul li > a { display: block; padding: 24px 0px; border: 3px solid #FFF; font-size: 18px; font-size: 1.125rem; font-weight: 700; text-align: center; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#servicos ul li > a:hover, #servicos ul li > a.active { background-color: #FFF; color: #9C3; }

#servicos ul li .tooltip { display: none; position: absolute; z-index: 1; top: 90px; left: -30%; width: 160%; padding: 30px; background-color: #252525; font-size: 15px; font-size: 0.9375rem; line-height: 1.2em; color: #FFF; }

#servicos ul li .tooltip:before { content: ' '; display: block; width: 36px; height: 18px; position: absolute; top: -18px; left: 50%; margin-left: -18px; background: url(../img/tooltip.png) no-repeat center center; }

#servicos ul li .tooltip .fechar { display: block; position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; background: url(../img/fechar.png) no-repeat center center; }

#socios { padding: 60px 0 40px; }

#socios h2 { font-size: 20px; font-size: 1.25rem; font-weight: 700; text-transform: uppercase; color: #FFF; padding: 7px 0 10px 15px; margin: 0 0 90px; background: url(../img/tit-sobre.png) no-repeat left center; }

#socios ul { width: 100%; }

#socios ul li { display: block; float: left; max-width: 130px; margin-right: 15px; text-align: center; font-weight: 700; line-height: 1.1em; color: #9C3; }

#socios ul li:last-child { margin-right: 0; }

#socios ul li .image { width: 130px; height: 130px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-bottom: 10px; border: 0 solid #9C3; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }

#socios ul li:hover .image { border-width: 10px; background-color: #9C3; }

#socios ul li .image img { display: block; width: 100%; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }

#socios ul li:hover .image img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

#socios ul li h3 { font-size: 15px; font-size: 0.9375rem; }

#socios ul li p { font-size: 11px; font-size: 0.6875rem; }

#lista-socios .socio { display: none; background-color: #252525; color: #FFF; font-size: 15px; font-size: 0.9375rem; line-height: 20px; }

#lista-socios .socio .center { position: relative; padding: 60px 0 40px; }

#lista-socios .socio .center:before { content: ' '; display: block; width: 36px; height: 18px; position: absolute; top: -18px; left: 46px; background: url(../img/tooltip.png) no-repeat center center; }

#lista-socios #kiyohara .center:before { left: 196px; }

#lista-socios #maringoni .center:before { left: 336px; }

#lista-socios #kovacs .center:before { left: 486px; }

#lista-socios #stella .center:before { left: 626px; }

#lista-socios #dorveaux .center:before { left: 771px; }

#lista-socios #kunii .center:before { left: 921px; }

#lista-socios .socio .fechar { display: block; position: absolute; top: 20px; right: 0; width: 20px; height: 20px; background: url(../img/fechar.png) no-repeat center center; }

#lista-socios .socio p { margin-bottom: 20px; }

#lista-socios .socio h3 { font-weight: 700; }

#lista-socios .socio .telefones { float: left; padding-left: 40px; margin: 40px 0 0 100px; height: 35px; font-weight: 700; background: url(../img/ico-telefone.png) no-repeat left center; }

#lista-socios .socio .e-mail { float: left; padding-left: 60px; margin: 45px 0 0 170px; height: 30px; line-height: 26px; font-weight: 700; background: url(../img/ico-mail.png) no-repeat left center; }

#contato { width: 100%; height: 430px; padding: 40px 0 100px; background: #252525 url(../img/bkg-contato.png) no-repeat center top; font-size: 20px; font-size: 1.25rem; color: #FFF; }

#contato h2 { font-size: 20px; font-size: 1.25rem; font-weight: 700; text-transform: uppercase; padding: 7px 0 10px 15px; margin: 0 0 70px; background: url(../img/tit-sobre.png) no-repeat left center; }

#contato h3 { font-weight: 700; text-transform: uppercase; line-height: 1.2em; }

#contato p { line-height: 1.2em; margin-bottom: 30px; }

#contato p strong { font-weight: 700; }

#contato p a { color: #9C3; }

#footer { width: 100%; padding: 25px 0; background-color: #252525; color: #FFF; font-size: 12px; font-size: 0.75rem; line-height: 18px; }

#footer p { float: left; }

#footer a { display: block; float: right; width: 43px; height: 18px; background: url(../img/m2mp.png) no-repeat center center; text-indent: -9999em; overflow: hidden; }

@media screen and (max-width: 1110px) { #servicos ul li .tooltip { position: static; width: 100%; }
  #servicos ul li .tooltip:before { display: none; }
  #servicos ul li .tooltip .fechar { position: static; float: right; margin: 0 0 10px 10px; }
  #lista-socios .socio .center:before { display: none; } }
@media screen and (max-width: 900px) { #socios ul li { height: 200px; }
  #lista-socios .socio .telefones, #lista-socios .socio .e-mail { margin-left: 30px; } }
@media screen and (max-width: 720px) { #nav { display: none; }
  #logo { width: 90%; margin: 210px auto 0; }
  #scroll { display: none; }
  #sobre-wrapper { background: transparent; }
  #sobre { width: 100%; }
  #servicos { width: 100%; background-color: #9C3; }
  #lista-socios .socio .telefones, #lista-socios .socio .e-mail { width: 100%; margin-left: 0; } }
@media screen and (max-width: 640px) { #servicos ul { width: 90%; }
  #socios ul li { width: 50%; max-width: 100%; margin-right: 0; }
  #socios ul li .image { margin: 0 auto 10px; } }
@media screen and (max-width: 360px) { #footer p { float: none; width: 100%; text-align: center; }
  #footer a { float: none; margin: 10px auto 0; } }
