@font-face {
  font-family: 'Chalk';
  src: url('DJBChalkItUp.eot?#iefix') format('embedded-opentype'),  url('DJBChalkItUp.woff') format('woff'), url('DJBChalkItUp.ttf')  format('truetype'), url('DJBChalkItUp.svg#DJBChalkItUp') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akz';
  src: url('AkzidenzGroteskBQ-Medium.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBQ-Medium.otf')  format('opentype'),
	     url('AkzidenzGroteskBQ-Medium.woff') format('woff'), url('AkzidenzGroteskBQ-Medium.ttf')  format('truetype'), url('AkzidenzGroteskBQ-Medium.svg#AkzidenzGroteskBQ-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}