@import url(../fonts/brandon.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.center { width: 94%; max-width: 1600px; margin: 0 auto; position: relative; }

.clear { clear: both; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

a { color: inherit; text-decoration: none; }

.table { display: table; }

.table-cell { display: table-cell; vertical-align: middle; }

body { font-family: "Brandon", Helvetica, Arial, sans-serif; font-size: 22px; font-size: 1.375rem; color: #222; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

::-moz-selection { color: #6CC; background-color: #639; }

::selection { color: #6CC; background-color: #639; }

#header { width: 100%; min-height: 750px; background: #639 url(../img/bkg-topo.jpg) no-repeat center top; background-attachment: fixed; padding-top: 1px; }

#menu-wrapper { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#menu-wrapper.scrolled { background-color: #639; }

#logo { float: left; width: 57px; height: 53px; background: url(../img/logo.png) no-repeat center center; margin: 20px 0; }

#menu { float: right; margin-top: 35px; }

#menu a { display: inline-block; margin-left: 80px; color: #6CC; text-transform: uppercase; position: relative; }

#menu a:after { content: ' '; display: block; position: absolute; bottom: -10px; left: 0; width: 0; height: 1px; background-color: #6CC; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#menu a.active:after, #menu a:hover:after { width: 100%; }

#header h1 { text-align: center; width: 90%; max-width: 1150px; margin: 320px auto 0; font-size: 80px; font-size: 5rem; font-weight: 600; text-transform: uppercase; color: #6CC; letter-spacing: 0.04em; }

#header h1:after { content: ' '; display: inline-block; width: 50px; height: 70px; margin: 0 0 -5px 10px; background-color: #6CC; -moz-animation: 1s blink infinite steps(2, end); -webkit-animation: 1s blink infinite steps(2, end); animation: 1s blink infinite steps(2, end); }

#header .scroll { max-width: 180px; margin: 130px auto 0; background: url(../img/mouse.png) no-repeat center top; padding-top: 50px; text-align: center; text-transform: uppercase; color: #6CC; font-size: 16px; font-size: 1rem; line-height: 22px; letter-spacing: 0.08em; }

@keyframes blink { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
#servicos .top { padding: 100px 0; text-align: center; }

#servicos .top h2 { font-size: 40px; font-size: 2.5rem; line-height: 50px; color: #639; letter-spacing: 0.08em; text-transform: uppercase; max-width: 240px; margin: 0 auto 25px; }

#servicos .top p { line-height: 44px; letter-spacing: 0.08em; max-width: 350px; margin: 0 auto; }

#servicos ul li { float: left; width: 25%; height: 550px; background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #222; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; padding: 20px; cursor: help; }

#servicos ul li:hover { background-color: #FFF; }

#servicos ul li .table { width: 100%; height: 510px; }

#servicos ul li h2 { text-align: center; color: #FFF; padding: 100px 0 20px; background-repeat: no-repeat; background-position: center top; font-size: 18px; font-size: 1.125rem; font-weight: 600; text-transform: uppercase; letter-spacing: 0.08em; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#servicos ul li:hover h2 { color: #222; }

#servicos ul li p { max-width: 260px; height: 0; margin: 0 auto; font-size: 18px; font-size: 1.125rem; line-height: 36px; letter-spacing: 0.04em; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out; }

#servicos ul li:hover p { height: 300px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

#servicos ul li.layout { background-image: url(../img/bkg-layout.png); }

#servicos ul li.layout h2 { background-image: url(../img/ico-front.png); }

#servicos ul li.front { background-image: url(../img/bkg-front.png); }

#servicos ul li.front h2 { background-image: url(../img/ico-front.png); }

#servicos ul li.retouch { background-image: url(../img/bkg-retouch.png); }

#servicos ul li.retouch h2 { background-image: url(../img/ico-retouch.png); }

#servicos ul li.midias { background-image: url(../img/bkg-midias.png); }

#servicos ul li.midias h2 { background-image: url(../img/ico-midias.png); }

#sobre { width: 100%; position: relative; }

#media { width: 60%; background-color: #222; }

#media iframe { display: block; width: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

#sobre .col-right { position: absolute; z-index: 1; right: 0; bottom: 0; width: 45%; color: #6CC; }

#sobre .col-right h2 { display: inline-block; padding: 15px 50px; margin-bottom: 25px; background-color: #639; font-size: 40px; font-size: 2.5rem; text-transform: uppercase; }

#sobre .col-right .texto { padding: 50px; background-color: #639; }

#sobre .col-right .texto p { line-height: 44px; width: 100%; max-width: 500px; }

#parceiros { padding: 120px 0 20px; }

#parceiros h2 { display: inline-block; padding: 15px 50px; margin-bottom: 80px; background-color: #639; font-size: 40px; font-size: 2.5rem; text-transform: uppercase; color: #FFF; position: relative; }

#parceiros h2:after { content: ' '; display: block; width: 221px; height: 157px; background: url(../img/linha-parceiros.png) no-repeat center center; position: absolute; right: -221px; bottom: 33px; }

#parceiros ul { width: 100%; }

#parceiros ul li { display: inline-block; width: 24%; text-align: center; vertical-align: middle; margin-bottom: 100px; }

#parceiros ul li a { -webkit-filter: grayscale(1); filter: grayscale(1); -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#parceiros ul li a:hover { -webkit-filter: grayscale(0); filter: grayscale(0); }

#mapa { float: left; width: 40%; height: 700px; background-color: #E2E2E2; }

#form { float: left; width: 60%; height: 700px; background-color: #639; color: #6CC; padding: 90px 0 0; }

#form h2 { display: inline-block; padding: 15px 50px; margin-bottom: 80px; background-color: #FFF; font-size: 40px; font-size: 2.5rem; text-transform: uppercase; color: #639; position: relative; }

#form h2:after { content: ' '; display: block; width: 328px; height: 129px; background: url(../img/linha-contato.png) no-repeat center center; position: absolute; right: -328px; bottom: 33px; }

#form form { width: 94%; max-width: 620px; margin: 0 auto; }

#form label { display: block; margin-bottom: 40px; letter-spacing: 0.08em; }

#form input, #form textarea { display: inline-block; width: 300px; border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); margin-left: 5px; background-color: transparent; font-family: "Brandon", Helvetica, Arial, sans-serif; color: #6CC; font-size: 22px; font-size: 1.375rem; letter-spacing: 0.08em; }

#form textarea { display: block; margin: 0 0 5px; width: 100%; height: 150px; resize: none; }

#enviar { display: block; width: 100%; height: 40px; background-color: #6CC; border: 0; font-family: "Brandon", Helvetica, Arial, sans-serif; font-size: 22px; font-size: 1.375rem; font-weight: 600; color: #639; text-transform: uppercase; cursor: pointer; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

#enviar:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

#footer { background-color: #222; padding: 110px 0 80px; color: #6CC; font-size: 18px; font-size: 1.125rem; letter-spacing: 0.08em; line-height: 1.2em; }

#footer .infos { float: left; }

#footer .infos p { margin-bottom: 40px; }

#footer .infos p strong { font-weight: 600; }

#footer .infos p span { font-size: 30px; font-size: 1.875rem; }

#footer .assinatura { float: right; margin-top: 170px; padding-right: 40px; background: url(../img/ico-ffw.png) no-repeat right 10px; }

@media screen and (max-width: 1280px) { #header h1 { margin: 250px auto 0; }
  #header h1:after { display: none; }
  #servicos ul li { width: 50%; }
  #sobre .col-right { width: 60%; }
  #parceiros ul li { width: 32%; }
  #mapa { width: 35%; }
  #form { width: 65%; padding: 90px 50px 0; }
  #form h2 { width: 100%; text-align: center; background-color: transparent; color: #6CC; padding: 15px 0; border-bottom: 3px solid #6CC; }
  #form h2:after { display: none; }
  #form form { width: 94%; max-width: 620px; margin: 0 auto; } }
@media screen and (max-width: 1000px) { #menu-wrapper { position: static; }
  #menu-wrapper.scrolled { background-color: transparent; }
  #logo { float: none; margin: 20px auto 0; }
  #menu { display: none; }
  #header h1 { text-align: left; margin: 120px auto 0; }
  #header .scroll { margin: 80px auto 0; }
  #parceiros ul li { width: 48%; }
  #mapa { width: 100%; height: 300px; }
  #form { width: 100%; height: auto; padding: 50px; } }
@media screen and (max-width: 760px) { #header { height: auto; min-height: 0; padding-bottom: 30px; }
  #header h1 { margin: 80px auto; font-size: 60px; font-size: 3.75rem; }
  #header .scroll { margin: 0 auto; }
  #servicos ul li { width: 100%; }
  #servicos ul li { background-color: #FFF; }
  #servicos ul li h2 { color: #222; }
  #servicos ul li p { height: 300px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  #media { width: 100%; }
  #media iframe { height: 340px; }
  #sobre .col-right { position: static; width: 100%; background-color: #639; padding: 50px; }
  #sobre .col-right h2 { padding: 0; margin-bottom: 25px; background-color: transparent; }
  #sobre .col-right .texto { padding: 0; background-color: transparent; }
  #sobre .col-right .texto p { line-height: 44px; max-width: 100%; }
  #parceiros h2 { width: 100%; text-align: center; background-color: transparent; padding: 15px 0; border-bottom: 3px solid #639; color: #639; }
  #parceiros h2:after { display: none; } }
@media screen and (max-width: 640px) { #form input { width: 100%; } }
@media screen and (max-width: 540px) { #parceiros ul li { width: 100%; margin-bottom: 30px; }
  #footer { text-align: center; }
  #footer .infos { float: none; width: 100%; }
  #footer .assinatura { float: none; display: inline-block; margin-top: 0; } }
@media screen and (max-width: 460px) { #header h1 { font-size: 34px; font-size: 2.125rem; }
  #media iframe { height: 180px; }
  #sobre .col-right { padding: 25px; }
  #form { padding: 25px; } }
